/* Reset */

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	line-height: calc(1em + 0.75rem);
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/* new stacking context  */
#root,
#__next {
	isolation: isolate;
}

/* Some sensible defaults */

body {
	font-family: Avenir, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: none;
	font-size: 1.25rem;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	padding: 2rem;
	width: 100%;
	background-color: hsla(0, 0%, 93%, 1);
}

nav {
	max-width: 1200px;
}

.sticky {
	position: sticky;
	top: 0;
}

nav {
	align-items: center;
	justify-content: space-between;
	display: flex;
	gap: 2rem;
}

nav a {
	color: hsla(211, 12%, 48%, 1);
	font-weight: 500;
	text-decoration: none;
}

.container {
	max-width: 60rem;
	margin: 0 auto;
	padding: 2rem;
}

section {
	margin: 0 auto 6rem;
	max-width: 60rem;
	position: relative;
}

section :is(div, h1, h2, h3, p) {
	margin-bottom: 1.5rem;
}
